@model MVC.Models.Alumno
<br />
@using(Html.BeginForm("Crear", "Alumno", FormMethod.Post))
{
    <p>
        Nombre: @Html.TextBoxFor( m => m.Nombre )
    </p>
    <p>
        Apellido: @Html.TextBoxFor( m => m.Apellido )
    </p>
    <input type="submit" value="Grabar" />
}